.nav {
  position: fixed;
  top: -13px;
  display: flex;
  width: 100%;
  z-index: 1;
  height: 49px;
  padding: 20px;
  justify-content: space-between;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  top: -43px;
  left: 0;
  width: 150px;
  object-fit: contain;
}



.nav__avatar {
  position: absolute;
  top: 35px;
  right: 50px;
  width: 40px;
  object-fit: contain;
}
